<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>

	<meta data-build_revision="{{ site.github.build_revision }}">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<!-- Datepicker -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.css"
		integrity="sha256-zozDkxLZ4hXQxKEFI8DTVkwNRd0J2KW0LxrN+/2RJVQ="
		crossorigin="anonymous" />

{% if page.google_webfont %}<link href="https://fonts.googleapis.com/css?family={{ page.google_webfont }}" rel="stylesheet">{% endif %}
{% if page.font_face %}<link rel="stylesheet" href="{{ '/assets/fonts/' | append: page.font_face | absolute_url }}">{% endif %}
	<link rel="stylesheet" href="{{ "/assets/css/" | append: theme | append: ".css" | absolute_url }}" id="main-css">

	<!-- Javascripts CDN -->
	{% for script in site.scripts %}
	<script src="{{ script.url }}"></script>
	{% endfor %}

	<!-- any-theme.js is deferred -->
	<script src="{{ "/assets/js/any-theme.js" | absolute_url }}" defer></script>
</head>
<body>
