<!DOCTYPE html>
<title>{{ site.title }}{% if page.title %} {{ page.title }}{% endif %}</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- CSS -->
<!-- Datepicker -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.css"
	integrity="sha256-zozDkxLZ4hXQxKEFI8DTVkwNRd0J2KW0LxrN+/2RJVQ="
	crossorigin="anonymous" />

<link rel="stylesheet" href="/assets/css/any-theme.css">

<!-- Javascripts CDN -->
<!-- jQuery -->
<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
<!-- Popper.js -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
	integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
	crossorigin="anonymous"></script>
<!-- Datepicker -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.js"
	integrity="sha256-k9xt0K+oFwsIiU1dVKUj470j8GH7KeJYJ5d+b9Alj3I="
	crossorigin="anonymous"></script>

<!-- any-theme.js is deferred -->
<script src="/assets/js/any-theme.js" defer></script>
