<main class="container{{ fluid }}">
  {% if sidebar.side == 'left' %}
  <div class="row">
    {% include page/sidebar.html %}
    <div class="col">
  {% elsif sidebar.side == 'right' %}
  <div class="row">
    <div class="col">
  {% endif %}
  {% assign rows = content | split: "<!--row-->" %}
  {%- for row in rows -%}
  <div class="row">
    {% assign j = forloop.index0 %}
    {%- assign columns = row | split: "<!--column-->" -%}
    {%- for column in columns -%}
    <div class="col">
      {% assign column_live = rows[j] | split: "<!--column-->" %}
      {{ column_live[forloop.index0] | strip }}
    </div>
    {% endfor %}
  </div>
  {%- endfor -%}
  {% if sidebar.side == 'right' %}
    </div>
    {% include page/sidebar.html %}
  </div>
  {% elsif sidebar.side == 'left' %}
    </div>
  </div>
  {% endif %}
</main>
