---
---
// http://www.fontspring.com/blog/further-hardening-of-the-bulletproof-syntax
@font-face {
  font-family: 'Scala Sans SC';
  src: url('scalasans-webfont.eot');
  src: url('scalasans-webfont.eot?#iefix') format('embedded-opentype'),
       url('scalasans-webfont.woff') format('woff'),
       url('scalasans-webfont.ttf') format('truetype'),
       url('scalasans-webfont.svg#ScalaSansSCRegular') format('svg');
  font-style: normal;
  font-weight: normal;
  // Not currently supported by browsers it would seem.
  // font-variant: small-caps;
}

@font-face {
  font-family: 'Scala Sans SC';
  src: url('scalasans-bold-webfont.eot');
  src: url('scalasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('scalasans-bold-webfont.woff') format('woff'),
       url('scalasans-bold-webfont.ttf') format('truetype'),
       url('scalasans-bold-webfont.svg#ScalaSansSCRegular') format('svg');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Scala';
  src: url('scala-webfont.eot');
  src: url('scala-webfont.eot?#iefix') format('embedded-opentype'),
       url('scala-webfont.woff') format('woff'),
       url('scala-webfont.ttf') format('truetype'),
       url('scala-webfont.svg#Scala') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Scala';
  src: url('scala-italic-webfont.eot');
  src: url('scala-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('scala-italic-webfont.woff') format('woff'),
       url('scala-italic-webfont.ttf') format('truetype'),
       url('scala-italic-webfont.svg#ScalaItalic') format('svg');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Scala';
  src: url('scala-bold-webfont.eot');
  src: url('scala-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('scala-bold-webfont.woff') format('woff'),
       url('scala-bold-webfont.ttf') format('truetype'),
       url('scala-bold-webfont.svg#ScalaItalic') format('svg');
  font-style: normal;
  font-weight: bold;
}
