// HEADINGS

// Set !default family
$font-family-headings: $font-family-base !default
@include headings()
  font-family: $font-family-headings

// <header> headings
// Set !default family
$font-family-headings-header: $font-family-base !default
header
  @include headings()
    font-family: $font-family-headings-header
