.highlight .hll {
  background-color: mix(#ffc,$maroon,70%);
}

.highlight .c {
  color: mix(#999,$maroon,70%);
}

/* Comment */
.highlight .err {
  color: mix(#a00,$maroon,70%);
  background-color: mix(#faa,$maroon,70%);
}

/* Error */
.highlight .k {
  color: mix(#069,$maroon,70%);
}

/* Keyword */
.highlight .o {
  color: mix(#555,$maroon,70%);
}

/* Operator */
.highlight .cm {
  color: mix(#09f,$maroon,70%);
  font-style: italic;
}

/* Comment.Multiline */
.highlight .cp {
  color: mix(#099,$maroon,70%);
}

/* Comment.Preproc */
.highlight .c1 {
  color: mix(#999,$maroon,70%);
}

/* Comment.Single */
.highlight .cs {
  color: mix(#999,$maroon,70%);
}

/* Comment.Special */
.highlight .gd {
  background-color: mix(#fcc,$maroon,70%);
  border: 1px solid mix(#c00,$maroon,70%);
}

/* Generic.Deleted */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
  color: mix(#f00,$maroon,70%);
}

/* Generic.Error */
.highlight .gh {
  color: mix(#030,$maroon,70%);
}

/* Generic.Heading */
.highlight .gi {
  background-color: mix(#cfc,$maroon,70%);
  border: 1px solid mix(#0c0,$maroon,70%);
}

/* Generic.Inserted */
.highlight .go {
  color: mix(#aaa,$maroon,70%);
}

/* Generic.Output */
.highlight .gp {
  color: mix(#009,$maroon,70%);
}

/* Generic.Prompt */
/* Generic.Strong */
.highlight .gu {
  color: mix(#030,$maroon,70%);
}

/* Generic.Subheading */
.highlight .gt {
  color: mix(#9c6,$maroon,70%);
}

/* Generic.Traceback */
.highlight .kc {
  color: mix(#069,$maroon,70%);
}

/* Keyword.Constant */
.highlight .kd {
  color: mix(#069,$maroon,70%);
}

/* Keyword.Declaration */
.highlight .kn {
  color: mix(#069,$maroon,70%);
}

/* Keyword.Namespace */
.highlight .kp {
  color: mix(#069,$maroon,70%);
}

/* Keyword.Pseudo */
.highlight .kr {
  color: mix(#069,$maroon,70%);
}

/* Keyword.Reserved */
.highlight .kt {
  color: mix(#078,$maroon,70%);
}

/* Keyword.Type */
.highlight .m {
  color: mix(#f60,$maroon,70%);
}

/* Literal.Number */
.highlight .s {
  color: mix(#d44950,$maroon,70%);
}

/* Literal.String */
.highlight .na {
  color: mix(#4f9fcf,$maroon,70%);
}

/* Name.Attribute */
.highlight .nb {
  color: mix(#366,$maroon,70%);
}

/* Name.Builtin */
.highlight .nc {
  color: mix(#0a8,$maroon,70%);
}

/* Name.Class */
.highlight .no {
  color: mix(#360,$maroon,70%);
}

/* Name.Constant */
.highlight .nd {
  color: mix(#99f,$maroon,70%);
}

/* Name.Decorator */
.highlight .ni {
  color: mix(#999,$maroon,70%);
}

/* Name.Entity */
.highlight .ne {
  color: mix(#c00,$maroon,70%);
}

/* Name.Exception */
.highlight .nf {
  color: mix(#c0f,$maroon,70%);
}

/* Name.Function */
.highlight .nl {
  color: mix(#99f,$maroon,70%);
}

/* Name.Label */
.highlight .nn {
  color: mix(#0cf,$maroon,70%);
}

/* Name.Namespace */
.highlight .nt {
  color: mix(#2f6f9f,$maroon,70%);
}

/* Name.Tag */
.highlight .nv {
  color: mix(#033,$maroon,70%);
}

/* Name.Variable */
.highlight .ow {
  color: mix(#000,$maroon,70%);
}

/* Operator.Word */
.highlight .w {
  color: mix(#bbb,$maroon,70%);
}

/* Text.Whitespace */
.highlight .mf {
  color: mix(#f60,$maroon,70%);
}

/* Literal.Number.Float */
.highlight .mh {
  color: mix(#f60,$maroon,70%);
}

/* Literal.Number.Hex */
.highlight .mi {
  color: mix(#f60,$maroon,70%);
}

/* Literal.Number.Integer */
.highlight .mo {
  color: mix(#f60,$maroon,70%);
}

/* Literal.Number.Oct */
.highlight .sb {
  color: mix(#c30,$maroon,70%);
}

/* Literal.String.Backtick */
.highlight .sc {
  color: mix(#c30,$maroon,70%);
}

/* Literal.String.Char */
.highlight .sd {
  color: mix(#c30,$maroon,70%);
  font-style: italic;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: mix(#c30,$maroon,70%);
}

/* Literal.String.Double */
.highlight .se {
  color: mix(#c30,$maroon,70%);
}

/* Literal.String.Escape */
.highlight .sh {
  color: mix(#c30,$maroon,70%);
}

/* Literal.String.Heredoc */
.highlight .si {
  color: mix(#a00,$maroon,70%);
}

/* Literal.String.Interpol */
.highlight .sx {
  color: mix(#c30,$maroon,70%);
}

/* Literal.String.Other */
.highlight .sr {
  color: mix(#3aa,$maroon,70%);
}

/* Literal.String.Regex */
.highlight .s1 {
  color: mix(#c30,$maroon,70%);
}

/* Literal.String.Single */
.highlight .ss {
  color: mix(#fc3,$maroon,70%);
}

/* Literal.String.Symbol */
.highlight .bp {
  color: mix(#366,$maroon,70%);
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: mix(#033,$maroon,70%);
}

/* Name.Variable.Class */
.highlight .vg {
  color: mix(#033,$maroon,70%);
}

/* Name.Variable.Global */
.highlight .vi {
  color: mix(#033,$maroon,70%);
}

/* Name.Variable.Instance */
.highlight .il {
  color: mix(#f60,$maroon,70%);
}

/* Literal.Number.Integer.Long */
.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: mix(#999,$maroon,70%);
}
