---
---
// Bootstrap_init
@import "bootstrap/functions"
@import "bootstrap/variables"

//
// any-theme
//
@import "any_theme/variables"
@import "any_theme/classes"
@import "any_theme/fonts"

//
// Bootstrap_end
//
@import "bootstrap/mixins"
// @import "bootstrap/root"
@import "bootstrap/reboot"
@import "bootstrap/type"
@import "bootstrap/images"
@import "bootstrap/code"
@import "bootstrap/grid"
@import "bootstrap/tables"
@import "bootstrap/forms"
@import "bootstrap/buttons"
@import "bootstrap/transitions"
@import "bootstrap/dropdown"
@import "bootstrap/button-group"
@import "bootstrap/input-group"
@import "bootstrap/custom-forms"
@import "bootstrap/nav"
@import "bootstrap/navbar"
@import "bootstrap/card"
@import "bootstrap/breadcrumb"
@import "bootstrap/pagination"
@import "bootstrap/badge"
@import "bootstrap/jumbotron"
@import "bootstrap/alert"
@import "bootstrap/progress"
@import "bootstrap/media"
@import "bootstrap/list-group"
@import "bootstrap/close"
@import "bootstrap/modal"
@import "bootstrap/tooltip"
@import "bootstrap/popover"
@import "bootstrap/carousel"
@import "bootstrap/utilities"
@import "bootstrap/print"


// layout
html
  @extend .bg-frame

// header
header
  @extend .mb-0, .jumbotron, .rounded-0, .py-4
  div h1
    @extend .text-muted, .mb-0
    span
      color: initial

// main
main
  @extend .mt-5, .mb-8
  // .row
  //   @extend .my-4
  &.container-fluid
    @extend .px-5

// tables
table
  @extend .table

// collapse
a[data-toggle="collapse"]
  @extend .text-muted

// DATE picker
.datepicker-container
  font-size: $font-size-sm

// ADD-BOOK
#input-form
  h3
    @extend .py-3
  small
    @extend .form-text, .text-muted, .ml-1

// Code
// Give a slight padding and a tiny background (overridden in _syntax_<theme>.sass)
pre.highlight
  @extend .p-2, .m-2
  background: $bg-pre
// Fix bottom margin by `_sass/bootstrap/_reboot.scss`
pre
  @extend .mb-0

// Cards
p:last-of-type,
.card ul:last-of-type,
table:last-of-type
  @extend .mb-0
.card-title:first-of-type
  @extend .mt-0

// Dropdowns
.dropdown-toggle::after
  margin-left: $caret-width * .3
  vertical-align: $caret-width * .3

@import "any_theme/headings"
@import "any_theme/syntax_default"
@import "any_theme/navbar"
@import "any_theme/forms"
@import "any_theme/alerts"
